body{
    margin: 0;
    padding: 0;
    background-color: rgb(52, 52, 52);
    color: rgb(33, 33, 33);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar{
    background-color: rgb(27, 17, 138);
    padding: 10px;
    color: rgb(235, 189, 37);

    display: flex;
    align-items: center;
    justify-content: center;

}

#icon{
    width: 52px;
    height: 52px;
    margin-right: 10px;
}

#rodape{
    text-align: center;
    background-color: rgb(172, 172, 172);
    padding: 10px;
}

#noticias{
    background-color: rgb(56, 138, 210);
    padding: 10px;

    display: flex;
    justify-content: space-around;
    

}

.noticia{
    background-color: rgb(186, 223, 255);
    padding: 3px;
    border-style: solid;
    border-color: white;
    text-align: center;
}

.imagem_noticia{
    height: 200px;
    width: 300px;
}